

<p>Nombre del alumno en mayúsculas: {{nombre | uppercase}}</p>
<p>Apellidos del alumno en minúsculas {{apellidos | lowercase}}</p>
<p>
  El numero {{numeroR}} en romano es: {{ numeroR | romano}}
</p>
<p>
  El numero Decimal {{numDecimal}}  convertido a octal {{ numDecimal | decimalOctal}}
</p>
<p>
  El numero Decimal {{numDecimal}}  convertido a binario {{ numDecimal | decimalBinario}}
</p>
<p>
  El numero {{decimalHexa}} en hexadecimal es: {{ decimalHexa | decimalHexadecimal}}
</p>
 
<p>
  Valor {{valor}}  Convertido a letras: {{ valor | letras}}
</p>

